
.prise_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center; 
}
    

.title {
  color: grey;
  font-size: 18px;
}

  @media (max-width: 768px) {
    .prise_cards{
      display: block;
      margin-bottom: 10px;
    }
  .card1 {
    padding-bottom: 20px;}
    .card2 {
      padding-bottom: 20px;}
      .card3 {
        padding-bottom: 20px;}
      }      
  