/* HEADER */
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .logo {
    margin-top: -5px;
    z-index: 10;
  }
  
  .menu_list {
    display: flex;
  }
  
  .menu_item+.menu_item {
    margin-left: 30px;
  }
  
  .menu_link {
    text-transform: uppercase;
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 21px;
    transition: 0.3s;
  }
  
  .menu_link:hover {
    color: var(--brand-color);
    border-bottom: 1px solid var(--brand-color);
  }
  
  /* Start of Mobile Navigation Menu */
  .menu_btn {
    width: 30px;
    border: none;
    background-color: transparent;
    padding: 10px 0;
    position: relative;
    display: none;
    z-index: 10;
  }
  
  .menu_btn::after,
  .menu_btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--brand-color);
  }
  
  .menu_btn::after {
    bottom: 0;
  }
  
  .menu_btn::before {
    top: 0;
  }
  
  .menu_btn span {
    display: block;
    height: 2px;
    background-color: var(--brand-color);
  }
  
  /* End of Mobile Navigation Menu */
  .social_list {
    display: flex;
    align-items: center;
    z-index: 10;
    padding-left: 20px;
  }
  
  .social_link path {
    transition: all .3s;
  }
  
  .social_link:hover path {
    fill: var(--brand-color);
  }
  
  .header-social_item {
    margin-right: 15px;
  }
  
  .header_content {
    background-color:#FFF8DC;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .title-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 40px;
    line-height: 50px;
    color:#385C73;
    padding-top: 50px;
    text-align: center;
  }
  
  .subtitle-header {
    font-size: 32px;
  }
  
  @media (max-width: 1022px) {
    .menu_list {
      position: absolute;
      left: 0;
      right: 0;
      background-color: var(--alternative-text-color);
      display: block;
      top: -350px;
      transition: all .5s;
    }
  
    .menu_list.menu_list--active {
      top: 50px;
      padding-left: 0;
    }
  
    .menu_btn {
      display: block;
    }
  
    .menu {
      margin-left: auto;
    }
  
    .menu_item+.menu_item {
      margin-left: 0;
    }
  
    .menu_link {
      display: block;
      padding: 10px 0;
      text-align: center;
    }
  
    .menu_link:hover {
      border: none
    }
  }
  
  @media (max-width: 768px) {
    .header-social_item--telegram, .header-social_item--facebook {
      display: none;
    }
  }
  
  @media (max-width: 500px) {
    .logo_img {
      width: 80%;
    }
  
    .header-social_item {
      margin-right: 5px;
    }
  
    .title-header {
      font-size: 48px;
    }
  
    .subtitle-header {
      font-size: 27px;
    }
  }